<header class="header">
    <h1 id="">Saved Articles</h1>
    <nav class="button-group">
        <a href="/">
            <button class="button-dark">Home</button>
        </a>
    </nav>
</header>
<div class="filler"></div>

{{!-- #each to iterate through articles and create article panels --}}
{{#each articles}}
    <article class="card m-3 p-2">
        <div class="row no-gutters">
            <figure class="col-auto">
                <img src="{{imageUrl}}" class="img-fluid" alt="Article Image">
            </figure>
            <div class="col">
                <div class="card-block p-2">
                    <a href="{{link}}"><h4 class="card-title">{{title}}</h4></a>
                    <p class="card-text">{{summary}}</p>
                    <button class="saveArticle btn btn-danger float-right mr-3" data-id="{{_id}}"
                            data-saved="true">Remove Saved
                    </button>
                    <button class="addNote btn btn-secondary float-right mr-3" data-id="{{_id}}">
                        Article Notes
                    </button>
                </div>
            </div>
        </div>
    </article>
{{else}}
    <h1>No saved articles</h1>
{{/each}}

{{!-- modal for displaying and creating notes --}}
<div id="noteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Add a note</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="noteTitleEntry" class="noteInput" placeholder="Enter Title">
                <input type="text" id="noteBodyEntry" class="noteInput" placeholder="Enter Body">
                <div id="noteArea"></div>
            </div>
            <div class="modal-footer">
                <h5 class="instructions">Click the note to read it, or X to delete</h5>
                <button type="button" id="submitNote">Save Note</button>
            </div>
        </div>
    </div>
</div>

{{!-- error modal --}}
<div id="error" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>There was an error processing your request. Please try again later.</h2>
            </div>
        </div>
    </div>
</div>